<div>
    <%= link_to '<- Retour', :back %>
</div>
<div class="mx-auto md:w-2/3 w-full flex flex-col gap-y-4">
    <span>Vous pouvez maintenant noter le vin : <%= @wine.name %></span>
    <%= form_with model: Note.new, html: { :class => "flex flex-col gap-y-4"} do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :wine_id, value: @wine.id %>

        <div class="field">
            <%= f.label :balance, "Equilibre" %>
            <%= f.number_field :balance, min: 0, max: 5, value: 0 %>
        </div>

        <div class="field">
            <%= f.label :intensity, "Intensité" %>
            <%= f.number_field :intensity, min: 0, max: 5, value: 0 %>
        </div>

        <div class="field">
            <%= f.label :complexity, "Complexité" %>
            <%= f.number_field :complexity, min: 0, max: 5, value: 0 %>
        </div>

        <div class="field">
            <%= f.label :aroma, "Arome" %>
            <%= f.number_field :aroma, min: 0, max: 5, value: 0 %>
        </div>

        <div class="actions">
            <%= f.submit "Enregistrer ma note", class: "text-white bg-sky-400 px-3 py-2 rounded-xl cursor-pointer" %>
        </div>
    <% end %>
</div>


</div>